<h1><%= @business.name %></h1>
<p>
  <%= @business.description %>
</p>
<p>
  <%= @business.address %> <br>
  <%= @business.city %>,
  <%= @business.state %>
  <%= @business.zip %>
</p>

<p>
  <%= image_tag @business.image.url(:medium) %>
</p>
