<!DOCTYPE html>
<html>
<head>
  <title>Yelp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="fixed-nav-bar">
    <div class="logo"><span>Yelp</span>Clone</div>
    <input type="checkbox" id="menuButton" />
    <label for="menuButton" class="menu-button-label">
      <div class="white-bar"></div>
      <div class="white-bar"></div>
      <div class="white-bar"></div>
      <div class="white-bar"></div>
    </label>
  </div>
  <div class="the-bass">
    <% if current_user %>
    <div class="rela-block drop-down-container">
      <div class="drop-down-item"><%= link_to "ADD A BUSINESS", new_business_path %></div>
    </div>
    <div class="rela-block drop-down-container">
      <div class="drop-down-item">VIEW ACCOUNT</div>
    </div>
    <div class="rela-block drop-down-container">
      <div class="drop-down-item"><%= link_to "LOG OUT", logout_path %></div>
    </div>
    <% else %>
    <div class="rela-block drop-down-container">
      <div class="drop-down-item"><%= link_to "SIGN UP", signup_path %></div>
    </div>
    <div class="rela-block drop-down-container">
      <div class="drop-down-item"><%= link_to "LOG IN", login_path %></div>
    </div>
    <div class="rela-block drop-down-container">
      <div class="drop-down-item"></div>
    </div>
    <% end %>
  </div>

  <div id="user_header">
    <% if current_user %>
    Logged in as <%= current_user.email %>
    <% end %>
  </div>

  <% flash.each do |key, value| %>
    <%= content_tag(:div, class: "alert alert-#{key}") do %>
      <p><%= value %> </p>
    <% end %>
  <% end %>


  <%= yield %>

</body>
</html>
